package year{{.Year}}

import (
	"github.com/taskat/aoc/cmd/main/years"
	"github.com/taskat/aoc/internal/years/{{.Year}}/days"
	_ "github.com/taskat/aoc/internal/years/{{.Year}}/imports"
)

// init register the year's collection of solvers
func init() {
	years.AddYear(days.Year, days.Current)
}
