package day{{printf "%02d" .Day}}

import (
	"github.com/taskat/aoc/cmd/main/config"
	"github.com/taskat/aoc/internal/years/{{.Year}}/days"
	"testing"

	"github.com/stretchr/testify/assert"
)

{{ $day := .Day }}{{range $part := .Parts}}
// Test_Day_{{printf "%02d" $day}}_Part{{$part}} tests the day {{printf "%02d" $day}} solver for part {{$part}}
func Test_Day_{{printf "%02d" $day}}_Part{{$part}}(t *testing.T) {
	testCases := []struct {
		name          string
		input         config.InputType
		expectedValue string
		hyperParams   []string
	}{
		{"Test 1", config.TestInput(1), "", nil},
		{"Real", config.RealInput{}, "", nil},
	}
	for _, tc := range testCases {
		t.Run(tc.name, func(t *testing.T) {
			cfg := config.NewConfig(days.Year, day, {{$part}}, tc.input, tc.hyperParams...)
			solver := &Solver{}
			solver.AddHyperParams(tc.hyperParams...)
			solution := solver.SolvePart{{$part}}(cfg.ReadInputFile())
			assert.Equal(t, tc.expectedValue, solution)
		})
	}
}

// Benchmark_Day_{{printf "%02d" $day}}_Part{{$part}} benchmarks the day {{printf "%02d" $day}} solver for part {{$part}}
func Benchmark_Day_{{printf "%02d" $day}}_Part{{$part}}(b *testing.B) {
	cfg := config.NewConfig(days.Year, day, {{$part}}, config.RealInput{})
	solver := &Solver{}
	solver.AddHyperParams(cfg.GetHyperParams()...)
	input := cfg.ReadInputFile()
	for b.Loop() {
		solver.SolvePart{{$part}}(input)
	}
}
{{end}}
