# Advent of code

The goal of this repository to have all the Advent of Code challanges solved in Golang. The solutions should not be brute-force solutions, instead they should be algorithms and heuristics to solve the challange in less time.

The benchmarks were last updated on {{ .Date }}.