name: Generate README

on:
  push:
    branches: [ "master", "add-dynamic-readme" ]
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

env:
  AOC_HOME: ${{ github.workspace }}

jobs:

  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Build
        shell: bash
        run: go build -o ./cmd/readme-generator/readme-generator ./cmd/readme-generator/main.go

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: readme-generator
          path: ./cmd/readme-generator/readme-generator
          retention-days: 1

  Generate-README:
    needs: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Download build artifact
        uses: actions/download-artifact@v5
        with:
          name: readme-generator
          path: ./cmd/readme-generator

      - name: Generate README
        shell: bash
        run: |
          chmod +x ./cmd/readme-generator/readme-generator
          ./cmd/readme-generator/readme-generator

      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Update README.md with automated script [skip ci]"
            git push
          fi
