name: Test solutions

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  AOC_HOME: ${{ github.workspace }}

jobs:

  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Validate file changes
        uses: ./.github/actions/validate-file-changes

      - name: Run Common Setup
        uses: ./.github/actions/common-setup
        with:
          git_crypt_key: ${{ secrets.GIT_CRYPT_KEY }}

      - name: Test
        run: go test -v ./...
